:root {
    --blue: #0d6efd;
    --purple: #6f42c1;
  }
  * {
    font-family: "ABeeZee", sans-serif;
  }
  nav {
    top: 0;
    height: 70px;
  }
  nav .navbar-brand img {
    height: 60px;
    object-fit: cover;
  }
  .hamburger:focus {
    box-shadow: none;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
  
    > span {
      width: 30px;
      height: 2px;
      background: #292929;
      transition: 200ms;
    }
  }
  .hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(0, -0.25rem);
    transform-origin: top left;
  }
  .hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(0, 0.25rem);
    transform-origin: bottom left;
  }
  .hamburger.open span:nth-child(2) {
    scale: 0;
  }
  .navbar-collapse {
    background-color: #fff;
    width: 100%;
  }
  .heading {
    padding-top: 70px;
  }
  .highlight {
    -webkit-text-stroke: 1px black;
  }
  .icon-header {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 50px 1px rgba(73, 115, 255, 0.3);
  }
  button.icon-header {
    margin-top: 5rem;
  }
  .icon__image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 49, 49, 0.3);
    width: 30px;
    height: 30px;
    border-radius: 60px;
  }
  .icon__partner {
    background-color: rgba(255, 123, 0, 0.3);
  }
  .icon__guarantee {
    background-color: rgba(3, 255, 16, 0.3);
  }
  .icon__average {
    background-color: rgba(17, 0, 255, 0.3);
  }
  .icon__description h5 {
    font-size: 1rem;
    line-height: 1;
  }
  .icon__description p {
    font-size: 0.7rem;
    width: max-content;
    margin-bottom: 0;
    line-height: 1;
  }
  .form-header {
    padding: 2rem 2.5rem;
    border-radius: 15px;
    box-shadow: 0 0 50px 1px rgba(73, 115, 255, 0.3);
  }
  .form-header input,
  .form-header button {
    padding: 10px 0;
  }
  .form-header button {
    color: #fff;
    background-image: linear-gradient(to right, var(--blue), var(--purple));
  }
  .form-header button:hover {
    color: #fff;
  }
  .form__small-f {
    font-size: 0.9rem;
  }
  .courses__card {
    position: relative;
    border-radius: 15px;
    transition: 0.4s ease-in-out;
  }
  .courses__point {
    position: absolute;
    width: 55%;
    top: 0;
    right: 25%;
    transform: translateY(-50%);
  }
  .courses__card:hover {
    box-shadow: 0 0 50px 1px rgba(73, 115, 255, 0.3);
  }
  .courses > h3 {
    color: var(--purple);
    line-height: 1;
  }
  .courses .container > h2,
  .partners > p,
  .people > p {
    margin-bottom: 3rem;
  }
  .courses__title {
    font-size: 1.8rem;
    font-weight: 700;
  }
  .courses__table {
    font-weight: 600;
  }
  .courses__table td {
    text-align: left;
  }
  .courses__table tr:last-child {
    border-bottom: transparent;
  }
  .courses__card button {
    font-size: 1.2rem;
    padding: 10px 0;
  }
  .partners > h4 {
    margin-top: 4rem;
    color: #6f42c1;
    font-size: 1.2rem;
  }
  /* .figure-img {
    border: 1px solid black;
    height: 100px;
    width: 300px;
    object-fit: cover;
  } */
  .figure-img {
    transition: 0.4s ease-in-out;
  }
  .figure-img:hover {
    scale: 1.1;
  }
  .card {
    height: fit-content;
    width: 30%;
    box-shadow: 0 0 50px 1px rgba(77, 77, 77, 0.1);
  }
  .card-body {
    text-align: left;
  }
  img.partners__img {
    /* border: 1px solid black; */
    width: 480px;
    height: 100px;
    /* aspect-ratio: 4/6; */
    object-fit: cover;
  }
  img.people__profile {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-size: cover;
    object-fit: cover;
  }
  .people__sosmed {
    width: 20px;
    height: 20px;
    object-fit: contain;
    border-radius: 100px;
  }
  .people__card-date {
    font-size: 0.8rem;
    margin: 0;
  }
  @media (max-width: 1100px) {
    .card {
      width: 45%;
    }
  }
  @media (max-width: 560px) {
    nav .navbar-brand img {
      height: 40px;
    }
    .icon-header {
      box-shadow: 0 0 20px 1px rgba(73, 115, 255, 0.1);
    }
    .icon-header .row {
      margin: 10px;
      display: flex;
      justify-content: center;
    }
    button.icon-header {
      font-size: 0.8rem;
      margin-bottom: 2rem;
    }
    img.partners__img {
      /* border: 1px solid black; */
      width: 200px;
      height: 50px;
      /* aspect-ratio: 4/6; */
      object-fit: cover;
    }
    .card {
      width: 80%;
    }
  }